{% extends 'base.html' %}
{% block blogactive %}active{% endblock blogactive %}
{% block body %}
<div class="jumbotron jumbotron-fluid bg-white">
  <div class="container text-center">
    <h1 class="display-4 ">{{post.title}}</h1>  
    <p>- by <a href="/user/{{post.author.username}}">
    @{{post.author.username}}</a></p>
    {% if user.is_superuser %}
    <a class='btn btn-danger' href='/blog/{{post.slug}}/edit'>Edit</a>
    <a class='btn btn-danger' href='/blog/{{post.slug}}/delete'>delete</a>
    {% endif %}
  </div>
</div>
<div class='container'>
	<p class='lead'>{{post.message|linebreaks}}</p>
</div>
{% endblock body %}